@model XSIS.Shop.ViewModels.SupplierViewModel

@{
    ViewBag.SelectedHome = "";
    ViewBag.SelectedCustomer = "";
    ViewBag.SelectedSupplier = "active";
    ViewBag.SelectedProduct = "";
    ViewBag.SelectedOrder = "";
    ViewBag.Title = "Delete Supplier";
}

<div class="block-header">
    <h2>Form Confirmation Delete Existing Supplier</h2>
</div>
@using (Html.BeginForm(new { @class = "form-horizontal" }))
{
    <div class="card">
        <div class="card-header">
            <h2>
                Confirmation Delete Existing Supplier
                <small>
                    Form di bawah ini digunakan untuk konfirmasi Delete Existing Supplier.
                </small>
            </h2>
        </div>

        <div class="card-header">
            <h2 style="color:red">
                <b>Apakah Anda yakin untuk menghapus data supplier berikut?</b>
            </h2>
        </div>

        <div class="card-body card-padding">
            <div class="pmb-block">
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view">
                        <dl class="dl-horizontal">
                            <dt>
                                Nama Perusahaan
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CompanyName)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ContactName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ContactName)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ContactTitle)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ContactTitle)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.City)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.City)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Fax)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Fax)
                            </dd>
                        </dl>

                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <a href="@Url.Action("Index","Suppliers")" class="btn btn-info btn-sm m-t-10">Back to Index</a>
                            <button type="submit" class="btn btn-danger btn-sm m-t-10"><i class="zmdi zmdi-delete"></i> Hapus</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}