@{
    ViewBag.SelectedHome = "active";
    ViewBag.SelectedCustomer = "";
    ViewBag.SelectedSupplier = "";
    ViewBag.SelectedProduct = "";
    ViewBag.SelectedOrder = "";
    ViewBag.Title = "Home Page";
}

<div class="block-header">
    <h2>Dashboard XSIS Shop</h2>
</div>

<div class="mini-charts">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                    <div class="chart stats-bar"></div>
                    <div class="count">
                        <small>Total Customer</small>
                        <h2>@ViewBag.TotalCustomers</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-purple">
                <div class="clearfix">
                    <div class="chart stats-bar-2"></div>
                    <div class="count">
                        <small>Total Supplier</small>
                        <h2>@ViewBag.TotalSuppliers</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-orange">
                <div class="clearfix">
                    <div class="chart stats-line"></div>
                    <div class="count">
                        <small>Total Product</small>
                        <h2>@ViewBag.TotalProducts</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix">
                    <div class="chart stats-line-2"></div>
                    <div class="count">
                        <small>Total Order</small>
                        <h2>@ViewBag.TotalOrders</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>List Product <small>Produk-produk yang terdapat di XSIS Shop</small></h2>
            </div>

            <div class="card-body m-t-0">
                <table class="table table-inner table-vmiddle">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Produk</th>
                            <th style="width: 60px">Harga</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in ViewBag.ListProducts)
                        {
                            <tr>
                                <td class="f-500 c-cyan">@item.Id</td>
                                <td>@item.ProductName</td>
                                <td class="f-500 c-cyan">@item.UnitPrice</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="chart-edge">
                <div id="line-chart" class="flot-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>List Order <small>Transaksi order yang terjadi di XSIS Shop</small></h2>
            </div>

            <div class="card-body m-t-0">
                <table class="table table-inner table-vmiddle">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>No. Order</th>
                            <th style="width: 60px">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ListOrders)
                        {
                            <tr>
                                <td class="f-500 c-cyan">@item.Id</td>
                                <td>@item.OrderNumber</td>
                                <td class="f-500 c-cyan">@item.TotalAmount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="chart-edge">
                <div id="curved-line-chart" class="flot-chart"></div>
            </div>
        </div>
    </div>
</div>