@model XSIS.Shop.ViewModels.ProductViewModel

@{
    ViewBag.SelectedHome = "";
    ViewBag.SelectedCustomer = "";
    ViewBag.SelectedSupplier = "";
    ViewBag.SelectedProduct = "active";
    ViewBag.SelectedOrder = "";
    ViewBag.Title = "Detail Product";
}

<div class="block-header">
    <h2>Form Detail Existing Product</h2>
</div>

<div class="card">
    <form class="form-horizontal" role="form">
        <div class="card-header">
            <h2>
                Detail Product
                <small>
                    Form di bawah ini digunakan untuk melihat Detail Product.
                </small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <div class="pmb-block">
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view">
                        <dl class="dl-horizontal">
                            <dt>
                                Nama Produk
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductName)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.UnitPrice)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UnitPrice)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Package)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Package)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.IsDiscontinued)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsDiscontinued)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.SupplierName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SupplierName)
                            </dd>
                        </dl>
                        <a href="@Url.Action("Index","Products")" class="btn btn-info btn-sm m-t-10">Back to Index</a>
                        <a href="@Url.Action("Edit","Products", new { id = Model.Id })" class="btn btn-primary btn-sm m-t-10"><i class="zmdi zmdi-edit"></i> Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>